
.Body{

	font-family: 'Nunito';
}

.Calc {
  width:100%;
  text-align:center;
  font-size:120px;
  /* font-family: 'Varela Round'; */
  font-family: 'Nunito';
  font-weight: bold;
}

.QinA{
	font-family: 'Nunito';
}

.Start{
  
  font-family: 'Nunito' !important;
  font-weight: bold !important;
  font-size:120px !important;
  width: 45%;
}

.Start2{
  
	font-family: 'Nunito' !important;
	font-weight: bold !important;
	font-size:50px !important;
	width: 45%;
  }

.Question{
  width:100%;
  text-align:center;
}
.Answer{
  width:100%;
  text-align:center;
}
.Keep{

	width:100%;
	text-align:center;
}
.KeepText{

	font-weight: bold;
	font-size:26px;
}
.Home{
  margin-top:10px;
}
.HomeButton{

  font-size:50px;
}
.HeaderArea{
	width:100%;
	text-align: right;
}

.HeaderButton{
	font-size:36px;
}
.AnswerArea{

	width:100%;

}